* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: #5b5a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container {
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.search-box {
  display: flex;
  flex-direction: column;
}

.search-field {
  background-color: #5b5a5a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: relative;
}

.search-field input {
  width: 40rem;
  height: 3rem;
  border-radius: 50px;
  border: none;
  font-size: 18px;  
  padding-left: 1rem;
}

.search-field button {
  position: absolute;
  right: 5rem;
}

button {
  height: 3rem;
  border: none;
  border-radius: 50px;
  width: 5rem;
  background-color: #d47800a8;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #d47900;
  color: #fff;
}

.search-results {
  padding: 1rem;
}

.search-results li {
  margin-left: 1rem;
  margin-top: 1rem;
}

.movie-grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
}

.movie-card {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  text-align: left;
  width: 15rem;
  flex: 0 0 auto;
}

.selected-movie {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.selected-movie-image-details {
  display: flex;
  gap: 2rem;
}

.selected-movie img {
  max-width: 40%;
  height: auto;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.selected-movie h2, p {
  margin-top: 1rem;
  text-align: left;
}

.movie-card img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.movie-container {
  margin-top: 1rem;
  width: 48rem;
  overflow-x: auto;
}

.movie-card h3 {
  margin-top: 1rem;
  font-size: 18px;
}

.movie-card p {
  margin-top: 1rem;
  font-size: 14px;
}

.overview {
  width: 100%;
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
